<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">日付</th>
      <th scope="col">得点</th>
      <th scope="col">PK</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  <% @scores.each do |score|%>
    <tr>
      <th scope="row" class="align-middle"><%=l score[:created_at] %></th>
      <td class="align-middle"><%= score[:franse_score] %> - <%= score[:germany_score] %></td>
      <td class="align-middle"><%= score[:pk_franse_score] %> - <%= score[:pk_germany_score] %></td>
      <td class="align-middle"><%= link_to "編集", edit_score_path(score[:id]) , class:"btn btn-outline-success me-2 btn-lg"%></td>
    </tr>
  <%end%>
  </tbody>
</table>

